@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: theme('colors.dark') !important;
  color: theme('colors.slate.200');
}

html.light {
  background-color: theme('colors.light') !important;
  color: theme('colors.gray.600');
}

strong.light {
  color: theme('colors.gray.800');
}

strong.dark {
  color: theme('colors.slate.400');
}