@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.xxx {
  color: greenyellow
}

html.dark {
  background-color: theme('colors.dark') !important;
  color: theme('colors.slate.400') !important;

  a.link,
  strong,
  .navbar-link:hover,
  .navbar-link svg:hover {
    color: theme('colors.slate.200');
  }
}

html.light {
  background-color: theme('colors.light') !important;
  color: theme('colors.gray.600') !important;

  a.link,
  strong {
    color: theme('colors.gray.700');
  }

  .navbar-link:hover,
  .navbar-link svg:hover {
    color: theme('colors.gray.800');
  }
}

body {
  a.link:hover,
  .text-link-wrapper:hover svg {
    color: theme('colors.pink.dark');
  }
}
